*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/*************************/
/**       HEADER        **/
/*************************/

.page-header {
  display: flex;
  width: 100%;
  padding: 0 4.8rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: #cf711f;
}

.nav__link.nav-cta:link,
.nav__link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.nav__link.nav-cta:hover,
.nav__link.nav-cta:active {
  background-color: #cf711f;
}

/*************************/
/**     HERO SECTION    **/
/*************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 1.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  gap: 6.4rem;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  grid-template-columns: 1fr 1fr;
}

.hero-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  border-radius: 50%;
  height: 4.8rem;
  margin-left: -1.6rem;
  border: solid 3px #fdf2e9;
}

.delivered-imgs:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*************************/
/**   FEATURED SECTION  **/
/*************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #888;
  margin-bottom: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logos img {
  height: 3.2rem;
  opacity: 0.5;
  filter: brightness(0);
}

/*************************/
/**     SECTION HOW     **/
/*************************/

.section-how {
  margin: 9.6rem auto;
}

.subheading {
  display: block;
  text-transform: uppercase;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
  line-height: 1.2;
}

.step-number {
  font-size: 8.4rem;
  color: #ccc;
  font-weight: 600;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::after,
.step-img-box::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.step-img-box::before {
  background-color: rgba(253, 218, 218, 0.488);
  width: 60%;
  height: 80%;
  z-index: -2;
}

.step-img-box::after {
  background-color: rgba(255, 193, 193, 0.489);
  width: 45%;
  height: 65%;
  z-index: -1;
}

.step-img {
  width: 35%;
  z-index: 10;
}

/*************************/
/**     SECTION MEALS   **/
/*************************/

.section-meals {
  padding: 9.6rem 0;
}

.meals {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meals:hover {
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 25%);
  transform: translateY(-2.5rem);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 110px;
  display: inline-block;
  padding: 0.4rem 0.8rem;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.recipes-link:link,
.recipes-link:visited {
  display: inline-block;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  padding-bottom: 2px;
  transition: all 0.33s;
}

.recipes-link:hover,
.recipes-link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/********************************/
/**     SECTION TESTIMONIALS   **/
/********************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  row-gap: 4.8rem;
}

.testimonal {
  margin-bottom: 1.6rem;
}

.testimonial-img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  gap: 1.6rem;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}
